---
import "../styles/glitch-404.css" ;
import Layout from "@/layouts/Layout.astro"
---
<Layout title="404 Page Not Found" >
    <div id="container">
        <div class="error-code">404</div>
        <br/><br/>
      <span class="info">Page Not Found <br>          </span>
    <a class="contact" href="mailto:a.bakider@gmail.com">Contact Me</a>
    </div>

</Layout>
