   ---
   ---
   <div class="prose dark:prose-invert prose-code: text-center prose-a:text-box  prose-p:font-semibold prose-img:rounded-xl prose-headings:text-fg pb-18 prose-img:border-1" dir="rtl">
     <slot />
   </div>
